@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');


body {
  margin : 0;
}


.App {
    font-size : 18px;
    width : 100%;
    height : 100%;
    position : absolute;
    font-family: 'Source Code Pro', monospace;
    background-image : url("../assets/background.jpg");
}


