.top_bar {
    display : block;
    position : relative;
    color : black;
    background-color : #eee;
    text-align: center;
    font-weight: bold;
}


.top_bar:hover {
    cursor : grab;
}


.buttons {
    display : inline;
    position : absolute;
    left : 2%;
}


.button {
    display : inline-block;
    border-radius : 100%;
}


.button:hover {
    cursor : pointer;
    opacity : 20%;
}


#title {
    display : inline;
}


