.promptDiv, #promptText {
  display: inline;
}


.outputDiv {
  display : block;
  position : relative;
  height : 90%;
  overflow : auto;
}


#sections {
  text-align: center;
  position : absolute;
  bottom   : 0%;
  width    : 100%;
}


a {
  color: currentColor;
}


a:active {
  color : white;
}


#sectionsLinks {
  color : white;
  margin-left : 10px;
  margin-right : 10px;
}


#sectionsLinks:active {
  opacity: 50%;
}


